.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.textContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
  margin-bottom: 10px;
}
.result {
	display: inline;
  font-family: 'Fredoka', sans-serif;
	width: 100%;
	height: 100px;
  margin: 0px 10px 0px 0px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f8f8f8;
	resize: none;
	word-wrap: break-word;
	word-break: break-word;
}
.result:focus {
  outline: none;
}
.toastPopup{
  position: absolute;
  padding: 11px;
  min-width: 200px;
  text-align: center;
  animation: fadeout 3s ease-out;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 4px;
}
@keyframes fadeout {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}
.buttons {
	display: flex;
	flex-direction: column;
}
.button {
  display: inline;
  width: 100px;
  height: 45px;
  font-size: 16px;
  border: 1px solid #40a6fd;
  border-radius: 5px;
  background-color: #fff;
  color: #40a6fd;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}
.submit {
  margin-bottom: 10px;
  background-color: #40a6fd;
  color: #fff;
}
.submit:hover {
  background-color: dodgerblue;
}