.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.menus {
  font-family: 'Fredoka', sans-serif;
  margin-bottom: 26px;
}
.menu {
  font-size: 18px;
  color: royalblue;
  text-decoration: none;
  border: 0;
  padding: 10px 30px;
  cursor: pointer;
  z-index: 0;
}
.target {
	font-weight: 600;
  position:relative;
}
.target::after {
  content: '';
  width: 100%;
  height: 6px;
  background: #e0e0ff;
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 1px;
  z-index: -1;
}
.textContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.result {
	display: inline;
  font-family: 'Fredoka', sans-serif;
	width: 100%;
	height: 80px;
  margin: 0px 10px 10px 0px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f8f8f8;
	resize: none;
	word-wrap: break-word;
	word-break: break-word;
}
.result:focus {
  outline: none;
}
.toastPopup{
  position: absolute;
  padding: 11px;
  min-width: 200px;
  text-align: center;
  transition: fadeout 3s;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 4px;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.buttons {
	display: flex;
	flex-direction: column;
}
.button {
  display: inline;
  width: 100px;
  height: 45px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #40a6fd;
  border-radius: 5px;
  background-color: #fff;
  color: #40a6fd;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}
.submit {
  background-color: #40a6fd;
  color: #fff;
}
.submit:hover {
  background-color: dodgerblue;
}