.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.menus {
	font-family: 'IBM Plex Sans KR', sans-serif;
}
.menu {
	font-size: 18px;
	color: royalblue;
	text-decoration: none;
  border: 0;
  padding: 10px 30px;
  cursor: pointer;
  z-index: 0;
}
.target {
	font-weight: 600;
  position:relative;
}
.target::after{
  content: '';
  width: 100%;
  height: 6px;
  background: #e0e0ff;
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 1px;
  z-index: -1;
}
