.options {
  width: 100%;
}
.option {
  border: 0;
  border-radius: 20px;
  padding: 5px 15px;
  color: royalblue;
  background-color: #fff;
  font-family: 'Fredoka', sans-serif;
  cursor: pointer;
	z-index: 0;
}
.option:hover {
	font-weight: 700;
}
.target {
  background-color: #f6f6f6;
	font-weight: 700;
}
.container {
	display: flex;
	width: 100%;
	margin: 10px;
	justify-content: space-between;
	align-items: center;
}
.input {
	display: inline;
	font-family: 'Fredoka', sans-serif;
	width: 90%;
	height: 80px;
	margin: 0px 10px 10px 0px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f8f8f8;
	resize: none;
	word-wrap: break-word;
	word-break: break-word;
}
.buttons {
	display: flex;
	flex-direction: column;
}
.button {
	display: inline;
	width: 100px;
	height: 45px;
	font-size: 16px;
	margin-bottom: 10px;
	border: 1px solid #40a6fd;
	border-radius: 5px;
	background-color: #fff;
	color: #40a6fd;
	cursor: pointer;
	text-align: center;
}
.button:hover{
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}
.submit {
	background-color: #40a6fd;
	color: #fff;
}
.submit:hover {
	background-color: dodgerblue;
}
