.options {
  color: royalblue;
  font-family: 'Fredoka', sans-serif;
}
.option {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.option:hover {
  font-weight: 600;
}
.target {
  font-weight: 600;
}
.container {
  display: flex;
  width: 100%;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}
.input {
  display: inline;
  font-family: "Nanum Gothic", sans-serif;
  width: 90%;
  height: 80px;
  margin: 0px 10px 10px 0px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  resize: none;
  word-wrap: break-word;
  word-break: break-word;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.button {
  display: inline;
  width: 100px;
  height: 45px;
  font-size: 16px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #40a6fd;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  background-color: dodgerblue;
}
.submit {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
